.Joke {
  margin-bottom: 0.75em;
}

.Joke-votearea {
  display: inline-block;
  vertical-align: top;
}

.Joke-votearea > * {
  margin-right: 1em;

}
.Joke-text {
  margin-left: 1em;
  display: inline-block;
  width: 500px;
}

button {
  background-color: lightgray;
}

i.fas.fa-thumbs-down, i.fas.fa-thumbs-up {
  background-color: lightgray;
}